/* ========================================= 全局  from global.css============================================== */
.layout { width: 950px; margin: 0 auto; }

/* ---------------------------------布局 ------------------------------ */
/* 布局被溢出 限制 */
.col-sub, .col-extra { width: 190px; overflow: hidden; }
.grid-m0 .main-wrap, .grid-m .main-wrap { width: 950px; overflow: hidden; }
/** 两栏布局 **/
.grid-s5m0 .main-wrap, .grid-m0s5 .main-wrap { width: 750px; overflow: hidden; }
/* 三栏布局 */
.grid-s5m0e5 .main-wrap, .grid-e5m0s5 .main-wrap,.grid-m0s5e5 .main-wrap,.grid-m0e5s5 .main-wrap,.grid-s5e5m0 .main-wrap,.grid-e5s5m0 .main-wrap{
	width: 550px; overflow: hidden;
}
.grid-m .main-wrap, .expanded .main-wrap { width: 100%; }
/* ------------------------------ End of 布局 -------------------------- */

/* ------------------------------ box ---------------------------------- */
.box {
	width: 100%;
	margin-bottom: 10px;
}
.box .hd {
	height: 23px;
	border: 1px solid #ffb0b9;
	border-width: 0;
	overflow: hidden;
}
.box .hd h3{
	font-weight: 700;
	font-size: 12px;
	margin: 0;
	padding-left: 10px;
	overflow: hidden;
}
.box .hd h3 {
	color: #db4c5e;
	line-height: 25px;
	*line-height: 27px;
	_line-height: 25px;
}
.box .bd {
	border: 1px solid #ffb0b9;
	border-width: 0;
	background-color: #fff;
	zoom: 1;
}
.box .bd:after { content: '\20'; display: block; height: 0; clear: both; }
/* 默认左侧有边框 */
.col-sub .box, .col-extra .box { margin-bottom: 0; }
.col-sub .box .hd, .col-extra .box .hd {
	border-width: 1px;
	border-bottom-width: 0;
	line-height: 24px;
}
.col-sub .bd, .col-extra .bd {
	border-width: 1px;
	padding: 9px 0 9px 9px;
}

/* icon，默认 16 x 16 */
.box i {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: top;
	overflow: hidden;
}
/* ----------------------------- End of box ----------------------------- */

/* ------------------- 提供给设计师用的图片轮播样式 -------------------------- */
.slider-promo {
	position:relative;
	z-index: 1;
	height: 250px;
	overflow: hidden;
}
.slider-promo {
	_width:100%;
}
.slider-promo .lst-main li a {
	display:block;
	overflow:hidden;
}
.slider-promo .lst-trigger {
	position:absolute;
	z-index: 10;
	bottom:9px;
	right:4px;
	height:19px;
	line-height:17px;
	color:#fff;
}
.slider-promo .lst-trigger li {
	float:left;
	margin-right:5px;
	width:17px;
	font-weight:700;
	border:1px solid #E7E7E7;
	background-color:#fff;
	height:auto;
	line-height:inherit;    
	text-align:center;
	cursor:pointer;
	color: #666666;
}
.slider-promo .lst-trigger .current {
	border-color: #E51919;
	color: #E51919;
}
.slider-promo img {
	vertical-align:top;
}
/* ----------------------------- End of 通用图片轮播 ----------------------------- */

/* ----------------------------- 其他 ----------------------------------- */
/* 一些图标图片集合成的一张图片 */
.button, .box i, .mode a, .shop-search-x .text , .c-value-no, .c-value-no i {
	background: url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat;
}

.button {
	width: 60px;
	height: 21px;
	border-width: 0;
	font-size: 12px;
	font-weight: 700;
}


/* 针对预置内容页多个模块、默认文章列表模块、自定义模块  */
.no-border, 
.no-border .bd {
    border-width: 0 !important;
    padding: 0 !important;
}
/* ----------------------------- End of 其他 ------------------------------ */
/* ==================================== End of 全局 from global.css============================================== */


/* ==================================== 系统模块 ================================================== */

/* --------------------------------- 店铺招牌 from shop-banner.css ----------------------------- */

/* tshop-pbsm-spb10c: 模块中心2号模块（shop.pageBanner） */

.tshop-pbsm-spb10c .shop-header {
    position: relative;
    height: 150px;
    overflow: hidden;
    z-index: 101;
	background-repeat: no-repeat;
}
/* 外店购物车 */
.tshop-pbsm-spb10c .shop-header .nav-cart {
    position:absolute;
    top:5px;
    right:5px;
}
/* 外店登录 */
.tshop-pbsm-spb10c .shop-header .nav-attach {
    position:absolute;
    top:5px;
    right:100px;
}
.tshop-pbsm-spb10c .shop-header .shop-summary {
    position: absolute;
    top: 30px;
    left: 20px;
	zoom: 1;
}
.tshop-pbsm-spb10c .shop-header .shop-summary img {
	width: 80px;
	height: 80px;
}
.tshop-pbsm-spb10c .shop-header .shop-summary .shop-logo {
    float: left;
    margin-right: 10px;
}
.tshop-pbsm-spb10c .shop-header .shop-title {
    float:left; 
}
.tshop-pbsm-spb10c .shop-header .shop-title h2 {
	height: auto;
	font-family: "微软雅黑";
	font-size: 24px;
	line-height: 1;
}
/* 店铺招牌导航 */
.tshop-pbsm-spb10c .shop-header .nav {
    position: absolute;
    bottom: 0;
    left: 0;
	width: 950px;
	height: 29px;
	z-index: 102;
}
.tshop-pbsm-spb10c .shop-header .nav ul {
	height: 25px;
	padding: 0 0 0 10px;
	overflow: hidden;
	zoom: 1;
}
.tshop-pbsm-spb10c .shop-header .nav li, 
.tshop-pbsm-spb10c .shop-header .nav li a, 
.tshop-pbsm-spb10c .shop-header .nav li a em {
	float: left;
	display: block;
	height: 25px;
	line-height: 27px;
}
.tshop-pbsm-spb10c .shop-header .nav li {
	margin-right: 2px;
	background-image: none;
	overflow: hidden;
}
.tshop-pbsm-spb10c .shop-header .nav li a {
	overflow: hidden;
	padding-right: 5px;
}
.tshop-pbsm-spb10c .shop-header .nav li a em {
	cursor: pointer;
	overflow: hidden;
	padding: 0 10px 0 15px;
}
.tshop-pbsm-spb10c .shop-header .nav li.current a em {
	font-weight: 700;
}

/*===================模块专有弹出层======================*/

.tshop-pbsm-spb10c-popup{
	background-color:#FFFFFF;
	border:1px solid #787878;
	overflow-x:hidden;
	overflow-y:auto;
	padding:5px 0 5px 10px;
	width:520px;
	max-height: 256px;
	_height: 200px;
	z-index:999;
}
.tshop-pbsm-spb10c-popup .cat-hd{
	font-size:14px;
	font-weight:700;
}
.tshop-pbsm-spb10c-popup .bd {
	background:url("http://img05.taobaocdn.com/tps/i5/T1lFtwXjdhXXXXXXXX-1-4.png") repeat-y scroll 240px 0;
	margin-top:5px;
	overflow:auto;
	zoom:1;
}
.tshop-pbsm-spb10c-popup .cat-item {
	float:left;
	margin:0px 10px 20px 0px;
	width:20em;
}
/* END OF 模块专有弹出层 */
/* ----------------------------- End of 店铺招牌 from shop-banner.css --------------------- */

/* ---------------------------- 自定义内容区模块 from custom.css -------------------------- */

/* tshop-pbsm-ssd10c: 模块中心3号模块（shop.selfDefining）,用于自定义内容区 */
/* tshop-pbsm-ssd10s: 模块中心49号模块（shop.selfDefining），用于完全自定义内容区 */
/* tshop-pbsm-sfb10c: 模块中心10号模块（shop.flashBanner），用于Flash模板区 */
/* tshop-pbsm-sfd10c: 模块中心61号模块（shop.fileDetail）,用于文章详情模块 */
/* 模块中心48号模块（detail.relatedItem）,用于同类宝贝推荐模块,未开放的公共模块 */

.tshop-pbsm-ssd10c .shop-custom .bd,
.tshop-pbsm-ssd10s .shop-custom .bd,
.tshop-pbsm-sfb10c .shop-custom .bd,
.tshop-pbsm-sfd10c .shop-custom .bd,
.shop-custom .bd{
	/*width: 750px;*/ /* 默认750宽度 */
	padding: 5px 0 0;
	line-height: 1.2;
	overflow: hidden;
}
/* 去掉宽度限制， 在布局上做宽度限制 */
/* 左侧和三栏190 */
/*.col-sub .shop-custom .bd,
.col-extra .shop-custom .bd {
	width: 190px;
}*/
/* 三栏中间 */
/*.col-main .shop-custom {
	width: 550px;
}*/
/* 通栏 */
/*.grid-m .col-main .shop-custom {
	width: 950px;
}*/

.tshop-pbsm-ssd10c .custom-area table,
.tshop-pbsm-ssd10s .custom-area table,
.tshop-pbsm-sfb10c .custom-area table,
.tshop-pbsm-sfd10c .custom-area table {
	margin: 0 auto;
	border-collapse: separate;
}
.tshop-pbsm-ssd10c .custom-area p,
.tshop-pbsm-ssd10s .custom-area p,
.tshop-pbsm-sfb10c .custom-area p,
.tshop-pbsm-sfd10c .custom-area p {
	line-height: 1.4;
}
.tshop-pbsm-ssd10c .custom-area strong,
.tshop-pbsm-ssd10s .custom-area strong,
.tshop-pbsm-sfb10c .custom-area strong,
.tshop-pbsm-sfd10c .custom-area strong {
	font-weight: 700;
}
.tshop-pbsm-ssd10c .custom-area em,
.tshop-pbsm-ssd10s .custom-area em,
.tshop-pbsm-sfb10c .custom-area em,
.tshop-pbsm-sfd10c .custom-area em {
	font-style: italic;
}
.tshop-pbsm-ssd10c .custom-area img, 
.tshop-pbsm-ssd10s .custom-area img, 
.tshop-pbsm-sfb10c .custom-area img, 
.tshop-pbsm-sfd10c .custom-area img, object 
{
	vertical-align: middle;
	*vertical-align: baseline;
}


/* == 定制样式（不同场景下的CSS） ==*/

/* detail 全屏 */
/* tshop-pbsm-sfd10c 模块不会展示在detail页面，会展示在专门的文章详情页*/
.expanded .tshop-pbsm-ssd10c .shop-custom,
.expanded .tshop-pbsm-sfb10c .shop-custom,
.expanded .tshop-pbsm-ssd10s .shop-custom,
.expanded .shop-custom{
	width: 100%;
}

/* == END OF 定制样式（不同场景下的CSS） ==*/
/* ---------------------------- End of 自定义内容区模块 from custom.css ----------------- */


/* --------------- 宝贝推广( 手动, 自动, 掌柜推荐), 搜索列表 display.css ------------ */

/* .tshop-pbsm-sas10w: 模块中心4号模块(shop.autoSpread) 宝贝推广区（自动）*/
/* .tshop-pbsm-sir10w: 模块中心11号模块(shop.itemRecommend) 掌柜推荐宝贝 */
/* .tshop-pbsm-ssl10w: 模块中心17号模块(shop.searchList) 搜索列表 */
/* .tshop-pbsm-sms10w: 模块中心28号模块(shop.manualSpread) 宝贝推广区（手动）*/
/* 模块中心48号模块（detail.relatedItem）,用于同类宝贝推荐模块 */

/* 图片居中 默认 160大小 */
.tshop-pbsm-sas10w .grid .pic,
.tshop-pbsm-sir10w .grid .pic,
.tshop-pbsm-ssl10w .grid .pic,
.tshop-pbsm-sms10w .grid .pic,
.grid .pic{
	width: 160px;
	height: 160px;
	border: solid 1px #ccc;
	text-align: center;
	overflow: hidden;
}
.tshop-pbsm-sas10w .grid .pic a,
.tshop-pbsm-sir10w .grid .pic a,
.tshop-pbsm-ssl10w .grid .pic a,
.tshop-pbsm-sms10w .grid .pic a,
.grid .pic a{
	display: table-cell;
	width: 160px;
	height: 160px;
	vertical-align: middle;
	/* for ie vertical hack */
	*display: block;
	*font:140px/1 Arial;
}
.tshop-pbsm-sas10w .grid .pic a img,
.tshop-pbsm-sir10w .grid .pic a img,
.tshop-pbsm-ssl10w .grid .pic a img,
.tshop-pbsm-sms10w .grid .pic a img,
.grid .pic a img{
    vertical-align: middle;
	max-width: 160px;
	max-height: 160px;
}


/* 模式 */
.tshop-pbsm-sas10w .grid ul:after, 
.tshop-pbsm-sir10w .grid ul:after, 
.tshop-pbsm-ssl10w .grid ul:after, 
.tshop-pbsm-sms10w .grid ul:after,
.grid ul:after { 
	content: "\20"; display: block; height: 0; clear: both;
}
.tshop-pbsm-sas10w .grid ul,
.tshop-pbsm-sir10w .grid ul,
.tshop-pbsm-ssl10w .grid ul,
.tshop-pbsm-sms10w .grid ul,
.grid ul{
	margin: 10px 0;
	zoom:1;
}
.tshop-pbsm-sas10w .grid li,
.tshop-pbsm-sir10w .grid li,
.tshop-pbsm-ssl10w .grid li,
.tshop-pbsm-sms10w .grid li,
.grid li{
	float: left;
	width: 175px;
	_width:170px;
	margin: 0px 0px 20px 6px;
}
.tshop-pbsm-sas10w .grid .item,
.tshop-pbsm-sir10w .grid .item,
.tshop-pbsm-ssl10w .grid .item,
.tshop-pbsm-sms10w .grid .item,
.grid .item{
	width: 160px;
	margin: auto;
	text-align:center;
}
.tshop-pbsm-sas10w .grid .desc,
.tshop-pbsm-sir10w .grid .desc,
.tshop-pbsm-ssl10w .grid .desc,
.tshop-pbsm-sms10w .grid .desc,
.grid .desc{
	height:42px;
	padding-top:5px;
	line-height:1.2;
	overflow:hidden;
	*word-break:break-all;
	*word-wrap:break-word;
}
.tshop-pbsm-sas10w .grid .price,
.tshop-pbsm-sir10w .grid .price,
.tshop-pbsm-ssl10w .grid .price,
.tshop-pbsm-sms10w .grid .price,
.grid .price{
	padding-top:5px;
	overflow:hidden;
	white-space:nowrap
}
.tshop-pbsm-sas10w .grid .price span,
.tshop-pbsm-sir10w .grid .price span,
.tshop-pbsm-ssl10w .grid .price span,
.tshop-pbsm-sms10w .grid .price span,
.grid .price span{
	padding-right: 4px;
	color:#999;
}
.tshop-pbsm-sas10w .grid .price strong,
.tshop-pbsm-sir10w .grid .price strong,
.tshop-pbsm-ssl10w .grid .price strong,
.tshop-pbsm-sms10w .grid .price strong,
.grid .price strong{
	font-weight:700;
	color:#f60;
}
.tshop-pbsm-sas10w .grid .sales-amount,
.tshop-pbsm-sir10w .grid .sales-amount,
.tshop-pbsm-ssl10w .grid .sales-amount,
.tshop-pbsm-sms10w .grid .sales-amount{
	color: #666666;
	height: 18px;
	padding-top: 5px;
}
.tshop-pbsm-sas10w .grid .sales-amount em,
.tshop-pbsm-sir10w .grid .sales-amount em,
.tshop-pbsm-ssl10w .grid .sales-amount em,
.tshop-pbsm-sms10w .grid .sales-amount em{
	color: #CEAA00;
	font-weight: 700;
	padding: 0 0.5em;
}
.tshop-pbsm-sas10w .price .vip,
.tshop-pbsm-sir10w .price .vip,
.tshop-pbsm-ssl10w .price .vip,
.tshop-pbsm-sms10w .price .vip{
	height:20px;
	color:#999;
}

.tshop-pbsm-sas10w .grid .price .market,
.tshop-pbsm-sir10w .grid .price .market,
.tshop-pbsm-ssl10w .grid .price .market,
.tshop-pbsm-sms10w .grid .price .market{
	display:none;
}
.tshop-pbsm-sas10w .grid .more-items,
.tshop-pbsm-sir10w .grid .more-items,
.tshop-pbsm-ssl10w .grid .more-items,
.tshop-pbsm-sms10w .grid .more-items{
	height: 20px;
	margin: 5px;
}
.tshop-pbsm-sas10w .grid .more-items a,
.tshop-pbsm-sir10w .grid .more-items a,
.tshop-pbsm-ssl10w .grid .more-items a,
.tshop-pbsm-sms10w .grid .more-items a{
	float: right;
	width: 80px;
	height: 20px;
	margin-left: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	border: 1px solid #e65c00;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #ff6600;

	background-image: -moz-linear-gradient(top, #ffb75a, #ff6600); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ffb75a),color-stop(1, #ff6600)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a', EndColorStr='#ff6600'); /* IE6,IE7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffb75a', EndColorStr='#ff6600')"; 
}

.tshop-pbsm-sas10w .c-value-no,
.tshop-pbsm-sir10w .c-value-no,
.tshop-pbsm-ssl10w .c-value-no,
.tshop-pbsm-sms10w .c-value-no{
	background-position:-64px -12px;
	display:inline-block;
	height:12px;	
	vertical-align:inherit;
	overflow:hidden;
	width:60px;
	text-align:left;
}

.tshop-pbsm-sas10w .c-value-no i,
.tshop-pbsm-sir10w .c-value-no i,
.tshop-pbsm-ssl10w .c-value-no i,
.tshop-pbsm-sms10w .c-value-no i{
	background-position:-64px 0px;
	overflow:hidden;
	width:0;
}

/* small 模式，120 x 120 */
.tshop-pbsm-sas10w .small li,
.tshop-pbsm-sir10w .small li,
.tshop-pbsm-ssl10w .small li,
.tshop-pbsm-sms10w .small li,
.small li {
	width: 120px;
	margin: 0 8px 20px;
	_overflow: hidden;
}

.tshop-pbsm-sas10w .small .item,
.tshop-pbsm-sir10w .small .item,
.tshop-pbsm-ssl10w .small .item,
.tshop-pbsm-sms10w .small .item,
.small .item {
	width: 120px;
}
.tshop-pbsm-sas10w .small .pic,
.tshop-pbsm-sir10w .small .pic,
.tshop-pbsm-ssl10w .small .pic,
.tshop-pbsm-sms10w .small .pic, 
.small .pic{
	width: 120px;
	height: 120px;
	margin: 0 auto;
	_width:118px;
}
.tshop-pbsm-sas10w .small .pic a,
.tshop-pbsm-sir10w .small .pic a,
.tshop-pbsm-ssl10w .small .pic a,
.tshop-pbsm-sms10w .small .pic a,
.small .pic a{
	width: 120px;
	height: 120px;
	*font-size: 108px;
	_width:118px;
}
.tshop-pbsm-sas10w .small .pic a img,
.tshop-pbsm-sir10w .small .pic a img,
.tshop-pbsm-ssl10w .small .pic a img,
.tshop-pbsm-sms10w .small .pic a img,
.small .pic a img{
	max-width: 120px;
	max-height: 120px;
}
.tshop-pbsm-sas10w .small .price span,
.tshop-pbsm-sir10w .small .price span,
.tshop-pbsm-ssl10w .small .price span,
.tshop-pbsm-sms10w .small .price span,
.small .price span{
	display: none; /* .small 去掉一口价 */
}


/* big 模式 220 x 220 */
.tshop-pbsm-sas10w .big li,
.tshop-pbsm-sir10w .big li,
.tshop-pbsm-ssl10w .big li,
.tshop-pbsm-sms10w .big li{
	width: 222px;
	margin:0px 12px 20px;
	_margin: 0 8px 20px;
}
.tshop-pbsm-sas10w .big .item,
.tshop-pbsm-sir10w .big .item,
.tshop-pbsm-ssl10w .big .item,
.tshop-pbsm-sms10w .big .item{
	width: 222px;
}
.tshop-pbsm-sas10w .big .pic,
.tshop-pbsm-sir10w .big .pic,
.tshop-pbsm-ssl10w .big .pic,
.tshop-pbsm-sms10w .big .pic{
	width: 220px;
	height: 220px;
}
.tshop-pbsm-sas10w .big .pic a,
.tshop-pbsm-sir10w .big .pic a,
.tshop-pbsm-ssl10w .big .pic a,
.tshop-pbsm-sms10w .big .pic a{
	width: 220px;
	height: 220px;
	*font-size: 200px;
}
.tshop-pbsm-sas10w .big .pic a img,
.tshop-pbsm-sir10w .big .pic a img,
.tshop-pbsm-ssl10w .big .pic a img,
.tshop-pbsm-sms10w .big .pic a img{
	max-width: 220px;
	max-height: 220px;
}

/* row  列表模式 只有搜索列表才会有这种模式*/
.tshop-pbsm-ssl10w .row li{
	height: 48px;
	margin-bottom: 7px;
	padding: 32px 0 7px 90px;
	border-bottom: dashed 1px #ccc;
}
.tshop-pbsm-ssl10w .row .pic{
	position: relative;
	float: left;
	width: 80px;
	height: 80px;
	margin: -32px 0 0 -90px;
	text-align: center;
	border:1px solid #E4E4E4;
	_display:inline;
}
.tshop-pbsm-ssl10w .row .pic a{
	width: 80px;
	height: 80px;
	display: table-cell;
	vertical-align: middle;
	/* for ie vertical hack */
	*display: block;
	*font:72px/1 Arial;
}
.tshop-pbsm-ssl10w .row .pic a img{
	max-width:80px;
	max-height:80px;
	vertical-align: middle;
}
.tshop-pbsm-ssl10w .row .desc{
	float:left;
	width:400px;
	text-align:left;
}
.tshop-pbsm-ssl10w .row .price{
	float:left;
	width:178px;
}
.tshop-pbsm-ssl10w .row .price strong{
	margin-left:.5em;
	background:url("http://a.tbcdn.cn/sys/common/img/rmb.png") no-repeat scroll 0 0 transparent;
	color:#FF5500;
	font-size:14px;
	padding-left:16px;
}
.tshop-pbsm-ssl10w .row .remain-date{
	float:left;
	width:68px;
}
.tshop-pbsm-ssl10w .row .price .market, 
.tshop-pbsm-ssl10w .row .sales-amount, 
.tshop-pbsm-ssl10w .row .rating{
	display:none;
}


/* == 定制样式（不同场景下的CSS） ==*/
/*.col-sub .box .shop-display .bd{*/
.col-sub  .tshop-pbsm-sas10w .shop-display .bd,
.col-sub  .tshop-pbsm-sir10w .shop-display .bd,
.col-sub  .tshop-pbsm-ssl10w .shop-display .bd,
.col-sub  .tshop-pbsm-sms10w .shop-display .bd{
	padding:0px;
}

.grid-m .main-wrap .tshop-pbsm-sas10w .small li, 
.grid-m .main-wrap .tshop-pbsm-sir10w .small li, 
.grid-m .main-wrap .tshop-pbsm-ssl10w .small li, 
.grid-m .main-wrap .tshop-pbsm-sms10w .small li, 
.grid-m0 .main-wrap .tshop-pbsm-sas10w .small li,
.grid-m0 .main-wrap .tshop-pbsm-sir10w .small li,
.grid-m0 .main-wrap .tshop-pbsm-ssl10w .small li,
.grid-m0 .main-wrap .tshop-pbsm-sms10w .small li{
	width: 142px;
}
.grid-m0s5 .main-wrap .tshop-pbsm-sas10w .small li, 
.grid-m0s5 .main-wrap .tshop-pbsm-sir10w .small li, 
.grid-m0s5 .main-wrap .tshop-pbsm-ssl10w .small li, 
.grid-m0s5 .main-wrap .tshop-pbsm-sms10w .small li, 
.grid-m0s5 .main-wrap .small li, 
.grid-s5m0 .main-wrap .tshop-pbsm-sas10w .small li,
.grid-s5m0 .main-wrap .tshop-pbsm-sir10w .small li,
.grid-s5m0 .main-wrap .tshop-pbsm-ssl10w .small li,
.grid-s5m0 .main-wrap .tshop-pbsm-sms10w .small li,
.grid-s5m0 .main-wrap .small li {
	width: 132px;
}

/* small模式  950情况下 */
.grid-m .tshop-pbsm-sas10w .small li,
.grid-m .tshop-pbsm-sir10w .small li,
.grid-m .tshop-pbsm-ssl10w .small li,
.grid-m .tshop-pbsm-sms10w .small li{
	margin:0 18px 20px;
	_margin:0 16px 20px;
}

/* big模式 950px情况下 */
.grid-m .tshop-pbsm-sas10w .big li,
.grid-m .tshop-pbsm-sir10w .big li,
.grid-m .tshop-pbsm-ssl10w .big li,
.grid-m .tshop-pbsm-sms10w .big li{
	margin: 0 6px 20px;
}

.col-sub .tshop-pbsm-sas10w .shop-display .big .shop-list,
.col-sub .tshop-pbsm-sir10w .shop-display .big .shop-list,
.col-sub .tshop-pbsm-ssl10w .shop-display .big .shop-list,
.col-sub .tshop-pbsm-sms10w .shop-display .big .shop-list{
	*width:185px;
	*overflow:hidden;
	_width: 185px;
}

.col-extra .tshop-pbsm-sas10w .shop-display .big .shop-list,
.col-extra .tshop-pbsm-sir10w .shop-display .big .shop-list,
.col-extra .tshop-pbsm-ssl10w .shop-display .big .shop-list,
.col-extra .tshop-pbsm-sms10w .shop-display .big .shop-list{
	overflow:hidden;
	_width:185px;
}

/* == END OF 定制样式（不同场景下的CSS） ==*/
/* --------------- End of 宝贝推广( 手动, 自动, 掌柜推荐), 搜索列表 from display.css ------------ */


/* -------------------------- catagory 店铺分类 from cats.css -------------------------*/
/* tshop-pbsm-sic10c: 模块中心6号模块（shop.itemCategory）宝贝分类  */
/* tshop-pbsm-sfd10cm: 模块中心58号模块（shop.fireDir）文章目录  */
/* tshop-pbsm-sfdd10c: 模块中心70号模块（shop.fireDirDefault）默认文章目录  */

.tshop-pbsm-sic10c .shop-category i, 
.tshop-pbsm-sfd10cm .shop-category i, 
.tshop-pbsm-sfdd10c .shop-category i { 
	display: none; 
}
.tshop-pbsm-sic10c .shop-category .cat h4,
.tshop-pbsm-sfd10cm .shop-category .cat h4,
.tshop-pbsm-sfdd10c .shop-category .cat h4 {
	padding-left: 16px;
	background: url(http://img05.taobaocdn.com/tps/i5/T1AHpUXgliXXXXXXXX-80-134.png) no-repeat;
}
/* 店铺分类折叠icon */
.tshop-pbsm-sic10c .cats .cat h4,
.tshop-pbsm-sfd10cm .cats .cat h4,
.tshop-pbsm-sfdd10c .cats .cat h4 {
	background-position: -70px 7px; /* 默认 */
} 
.tshop-pbsm-sic10c .cats .collapse .cat-hd, 
.tshop-pbsm-sfd10cm .cats .collapse .cat-hd, 
.tshop-pbsm-sfdd10c .cats .collapse .cat-hd, 
.tshop-pbsm-sic10c .shop-category .cats h4.collapse,
.tshop-pbsm-sfd10cm .shop-category .cats h4.collapse,
.tshop-pbsm-sfdd10c .shop-category .cats h4.collapse {
	background-position: -60px -13px; /* 展开 “ - ” */
} 

.tshop-pbsm-sic10c .cats .collapse .cat-hd, 
.tshop-pbsm-sfd10cm .cats .collapse .cat-hd, 
.tshop-pbsm-sfdd10c .cats .collapse .cat-hd, 
.tshop-pbsm-sic10c .cats .expand .cat-hd,
.tshop-pbsm-sfd10cm .cats .expand .cat-hd,
.tshop-pbsm-sfdd10c .cats .expand .cat-hd {
	background-position: -50px -33px; /* 收起 “ + ” */
} 

.tshop-pbsm-sic10c .shop-category .cats,
.tshop-pbsm-sfdd10c .shop-category .cats,
.tshop-pbsm-sfd10cm .shop-category .cats,
.tshop-pbsm-sfdd10c .shop-category .cats {
	width: 178px;
	overflow: hidden;
	zoom: 1;
}

.tshop-pbsm-sic10c .shop-category .cat,
.tshop-pbsm-sfdd10c .shop-category .cat,
.tshop-pbsm-sfd10cm .shop-category .cat,
.tshop-pbsm-sfdd10c .shop-category .cat {
	padding: 4px 0;
	border-bottom: 1px dashed #eee;
}

.tshop-pbsm-sic10c .shop-category img,
.tshop-pbsm-sfdd10c .shop-category img,
.tshop-pbsm-sfd10cm .shop-category img,
.tshop-pbsm-sfdd10c .shop-category img {
	vertical-align: top;
}

.tshop-pbsm-sic10c .shop-category .cat h4,
.tshop-pbsm-sfdd10c .shop-category .cat h4,
.tshop-pbsm-sfd10cm .shop-category .cat h4,
.tshop-pbsm-sfdd10c .shop-category .cat h4 {
	padding-top: 3px;
	line-height: 16px;
	_line-height: 14px;
	font-weight: 700;
	zoom: 1;
}

.tshop-pbsm-sic10c .shop-category .cat-bd,
.tshop-pbsm-sfdd10c .shop-category .cat-bd,
.tshop-pbsm-sfd10cm .shop-category .cat-bd,
.tshop-pbsm-sfdd10c .shop-category .cat-bd {
	margin: 0 0 0 15px;
	overflow: hidden;
}

.tshop-pbsm-sic10c .shop-category .cat-bd li,
.tshop-pbsm-sfdd10c .shop-category .cat-bd li,
.tshop-pbsm-sfd10cm .shop-category .cat-bd li,
.tshop-pbsm-sfdd10c .shop-category .cat-bd li {
	padding:5px 0 0 0;
}
/* 店铺分类折叠icon */
.tshop-pbsm-sic10c .shop-category i, 
.tshop-pbsm-sfdd10c .shop-category i, 
.tshop-pbsm-sfd10cm .shop-category i, 
.tshop-pbsm-sfdd10c .shop-category i { 
	background-position: 0 -40px;  /* 默认 */
}				
.tshop-pbsm-sic10c .shop-category .expand i, 
.tshop-pbsm-sfdd10c .shop-category .expand i, 
.tshop-pbsm-sfd10cm .shop-category .expand i, 
.tshop-pbsm-sfdd10c .shop-category .expand i { 
	background-position: -32px -40px;  /* 展开 “ - ” */
}
  
.tshop-pbsm-sic10c .shop-category .collapse i, 
.tshop-pbsm-sfdd10c .shop-category .collapse i, 
.tshop-pbsm-sfd10cm .shop-category .collapse i, 
.tshop-pbsm-sfdd10c .shop-category .collapse i { 
	background-position: -16px -40px; 
} 
/* 收起 “ + ” */
/* -------------------------- End of catagory 店铺分类 from cats.css -------------------------*/


/* ------------------------- 店铺搜索 from search.css ---------------------------- */
/* tshop-pbsm-ssis10c: 模块中心7号模块（shop.searchInShop） 搜索店内宝贝 */
/* tshop-pbsm-sfs10cm: 模块中心59号模块（shop.fileSearch）文章搜索 */
/* .tshop-pbsm-ssl10w: 模块中心17号模块(shop.searchList) */

.tshop-pbsm-ssis10c .shop-search input,
.tshop-pbsm-sfs10cm .shop-search input,
.tshop-pbsm-ssl10w .shop-search input{
	padding: 2px 0 1px 3px;
	border: 1px solid #a7a6aa;
}

.tshop-pbsm-ssis10c .shop-search .bd,
.tshop-pbsm-sfs10cm .shop-search .bd,
.tshop-pbsm-ssl10w .shop-search .bd{
	padding: 0;       
}

.tshop-pbsm-ssis10c .shop-search ul,
.tshop-pbsm-sfs10cm .shop-search ul,
.tshop-pbsm-ssl10w .shop-search ul{
	padding: 10px 10px 0;
	line-height: 21px;
	zoom: 1;
}

.tshop-pbsm-ssis10c .shop-search ul:after, 
.tshop-pbsm-sfs10cm .shop-search ul:after, 
.tshop-pbsm-ssl10w .shop-search ul:after, 
.tshop-pbsm-ssis10c .shop-search li:after, 
.tshop-pbsm-sfs10cm .shop-search li:after,
.tshop-pbsm-ssl10w .shop-search li:after{ 
	content: "\20"; display: block; height: 0; clear: both; 
}

.tshop-pbsm-ssis10c .shop-search li,
.tshop-pbsm-sfs10cm .shop-search li,
.tshop-pbsm-ssl10w .shop-search li{
	height: 25px;
	padding-left: 50px;
	zoom: 1;
}

.tshop-pbsm-ssis10c .shop-search li label,
.tshop-pbsm-sfs10cm .shop-search li label,
.tshop-pbsm-ssl10w  .shop-search li label{
	float: left;
	margin-left: -50px;
	text-align: right;
	width: 50px;
}

.tshop-pbsm-ssis10c .shop-search .keyword input,
.tshop-pbsm-sfs10cm .shop-search .keyword input,
.tshop-pbsm-ssl10w .shop-search .keyword input{
	width: 109px;
}

.tshop-pbsm-ssis10c .shop-search .price input,
.tshop-pbsm-sfs10cm .shop-search .price input,
.tshop-pbsm-ssl10w .shop-search .price input{
	width: 40px;
}

.tshop-pbsm-ssis10c .shop-search .hotkeywords{
	height: auto;
	clear:left;
	width: 70%;
}

/* == 定制样式（不同场景下的CSS） ==*/

/* 左侧样式 */
.col-sub .tshop-pbsm-ssis10c .shop-search li,
.col-sub .tshop-pbsm-sfs10cm .shop-search li,
.col-sub .tshop-pbsm-ssl10w .shop-search li,
.col-extra .tshop-pbsm-ssis10c .shop-search li,
.col-extra .tshop-pbsm-sfs10cm .shop-search li,
.col-extra .tshop-pbsm-ssl10w .shop-search li{
	margin-bottom: 7px;
}

/* 右侧样式 */
.main-wrap .tshop-pbsm-ssis10c .shop-search li,
.main-wrap .tshop-pbsm-sfs10cm .shop-search li,
.main-wrap .tshop-pbsm-ssl10w .shop-search li {
	float: left;
	padding-bottom: 5px;
}
.main-wrap .tshop-pbsm-ssis10c .shop-search .submit,
.main-wrap .tshop-pbsm-sfs10cm .shop-search .submit,
.main-wrap .tshop-pbsm-ssl10w .shop-search .submit {
	padding-left: 10px;
}

/* == END OF 定制样式（不同场景下的CSS） ==*/
 /* ------------------------- 店铺搜索 from search.css ---------------------------- */
 
 
/* ---------------------------- 搜索店内宝贝头部版  from search-x.css ---------------- */
/* tshop-pbsm-ssish10c: 模块中心45号模块（shop.searchInShopHead）搜索店内宝贝头部版 */

.tshop-pbsm-ssish10c .shop-search-x .bd { padding: 0; border-width: 0; }
.tshop-pbsm-ssish10c .shop-search-x .search-x {
	zoom: 1;
	height: 25px;
	padding: 5px 5px 5px 10px;
	line-height: 25px;
	background-color: #ededed;
}
.tshop-pbsm-ssish10c .shop-search-x .search-x:after { content:'\20';display:block;height:0;clear:both; }
.tshop-pbsm-ssish10c .shop-search-x .form {
	float: left;
	position: relative;
	z-index: 1;
}
.tshop-pbsm-ssish10c .shop-search-x .form label {
	position: absolute;
	z-index: 1;
	left: 25px;
	color: #888;
}
.tshop-pbsm-ssish10c .shop-search-x .focus label {
	visibility:hidden;
}
.tshop-pbsm-ssish10c .shop-search-x .text {
	float: left;
	height: 18px;
	width: 280px;
	padding: 2px 0 3px 18px;
	*padding-top: 4px;
	border: 1px solid #C8C1BB;
	margin-right: .5em;
	background-color: #fff;
	background-position: -110px -38px;
}
.tshop-pbsm-ssish10c .shop-search-x .button { margin-top: 2px; }
.tshop-pbsm-ssish10c .shop-search-x .keys {
	float: right;
	width: 500px;
	text-align: right;
	white-space: nowrap;
	overflow: hidden;
}

/* ---------------------------- End of 搜索店内宝贝头部版 from  search-x.css ---------------- */

/* ---------------------------- 交流区 bbs.css ---------------------------- */
/* tshop-pbsm-sfs10c: 模块中心8号模块（shop.forumShow）交流区 */

.tshop-pbsm-sfs10c .shop-bbs .hd {
	position: relative;
	z-index: 1;
}
.tshop-pbsm-sfs10c .shop-bbs .handle {
	position: absolute;
	z-index: 1;
	right: 5px;
	top: 3px;
}
.tshop-pbsm-sfs10c .shop-bbs tbody tr .discuss-content{
	width:590px;
}

.tshop-pbsm-sfs10c .shop-bbs table .date{
	margin-left: 1em;
	color: #808080;
}
.tshop-pbsm-sfs10c .shop-bbs table dl {
	overflow: hidden;
	*zoom: 1;
	margin: 0 10px 5px 0;
	padding:3px 3px 2px 5.5em;
	border: 1px solid #ffe5a8;
	background-color: #ffffcf;
}
.tshop-pbsm-sfs10c .shop-bbs dl dt{
	float: left;
	margin-left:-5em;
	color: #848484;
	_display: inline;
}
.tshop-pbsm-sfs10c .shop-bbs dl dd{
	float: left;
	width:585px;
}
.tshop-pbsm-sfs10c .shop-bbs .reply td{
	padding-top:0;
}
.tshop-pbsm-sfs10c .shop-bbs .line td{
	border-bottom:1px solid #ddd;
	word-break:break-all;
}
.tshop-pbsm-sfs10c .shop-bbs table {
	width:100%;
}
.tshop-pbsm-sfs10c .shop-bbs table th, .tshop-pbsm-sfs10c .shop-bbs table td {
	padding:4px 10px 3px 4px;
}
.tshop-pbsm-sfs10c .shop-bbs thead th {
	border-bottom:1px solid #cbcbcb;
	text-align:center;
	color:#808080;
}
.tshop-pbsm-sfs10c .shop-bbs tbody .message{
	padding-right:5px;
}
.tshop-pbsm-sfs10c .shop-bbs tbody .user{
	width:80px;
}
.tshop-pbsm-sfs10c .shop-bbs tbody .detail{
	width:80px;
	text-align:right
}
.tshop-pbsm-sfs10c .shop-bbs tbody td {
	color:#000;
	padding:8px 0px 7px;
	word-break:break-all;
	word-wrap:break-word;
}
.tshop-pbsm-sfs10c .shop-bbs tbody .message a {
	padding-left:16px;
	line-height:16px;
}
.tshop-pbsm-sfs10c .shop-bbs tbody .user,.tshop-pbsm-sfs10c .shop-bbs .shop-discuss-table .detail {
	vertical-align:middle;
	text-align:center;
}
.tshop-pbsm-sfs10c .shop-bbs .shop-discuss-table .detail{
	vertical-align:middle;
}
.tshop-pbsm-sfs10c .shop-bbs tbody .even {
	background:#f5f5f5;
}
.tshop-pbsm-sfs10c .shop-bbs table a {
	color:#3366cc;
}
/* ---------------------------- End of 交流区 from bbs.css ---------------------------- */

/* ---------------------------- 装修模板区 from flashshow.css ----------------------------- */
/* tshop-pbsm-sfb10c: 模块中心10号模块（shop.flashBanner），用于Flash模板区 */
/* 继承自定义内容区 */
.tshop-pbsm-sfb10c .shop-flashshow .bd {
    overflow: hidden;
    padding: 0; 
	border-width: 0;
}
/* ---------------------------- End of 装修模板区 from flashshow.css ----------------------- */

/* ----------------------------- 友情链接 from links.css ------------------------------ */
/* tshop-pbsm-sfl10c: 模块中心15号模块（shop.friendLink）友情链接 */
.tshop-pbsm-sfl10c .shop-links ul li {
	width: 160px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #eee;
}
/* ----------------------------- End of 友情链接 from links.css ----------------------- */


/* --------------------------- 搜索列表 from shop-list.css-------------------------------- */
/* .tshop-pbsm-ssl10w: 模块中心17号模块(shop.searchList) 搜索列表 */
/* 继承 分页 */
.tshop-pbsm-ssl10w .shop-hesper .hd {
	display: none;
}
.tshop-pbsm-ssl10w .shop-hesper .bd{
	padding: 0;
}

/* 搜索列表类目导航 */
.tshop-pbsm-ssl10w .shop-hesper-hd{
	margin-bottom: 10px;
	zoom: 1;
	position: relative;
	z-index: 1;
}
.tshop-pbsm-ssl10w .shop-hesper-hd:after, 
.tshop-pbsm-ssl10w .shop-hesper-bd:after, 
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ol:after, 
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ul:after {
	content: '\0020';
	display: block;
	clear: both;
	visibility:hidden;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats {
	background-color: #fcfcfc;
	border: 1px solid #e5e5e5;
	padding-bottom: 45px;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats li {
	float: left;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ol {
	height: 25px;
	padding-left: 12px;
	border-bottom: 1px solid #f0f0f0;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ol li {
	line-height: 25px;
	font-size: 14px;
	font-weight: 700;
	color: #666;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ol a {
	float: left;
	margin-right: .5em;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats i {
	width: 21px;
	height: 25px;
	background-position: -54px -56px;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ul {
	padding: 10px 10px 0 20px;
	zoom: 1;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ul li {
	width: 165px;
	height: 25px;
	margin-left: 10px;
	line-height: 25px;
	list-style: circle outside;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats ul li a {
	white-space:nowrap;
	overflow:hidden;
	display:block;
	width:165px;
}
/* 修复折叠图标的展示  */
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats .trigger {
	background-position: -27px -56px;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 0;
	width: 27px;
	height: 27px;
	cursor: pointer;
}
.tshop-pbsm-ssl10w .shop-hesper .hesper-cats .collapse {
    background-position: 0 -56px;
}

/* list search */
.tshop-pbsm-ssl10w .shop-hesper .shop-search {
	margin-top: -45px;
	position: relative;
	height: 42px;
	padding-top: 3px;
	overflow: hidden;
}
.tshop-pbsm-ssl10w .shop-hesper .search-form {
	float: right;
}
.tshop-pbsm-ssl10w .shop-hesper .type {
	padding: 0 1em 0 5em;
}
.tshop-pbsm-ssl10w .shop-hesper .type input {
	border-width: 0;
	vertical-align: middle;
}
.tshop-pbsm-ssl10w .shop-hesper .type label{
	width: 5em;
	margin-left: -5em;
}
.tshop-pbsm-ssl10w .shop-hesper .search-result {
	position: absolute;
	left: 0; top: 0;
	padding: 0 13px;
	color: #666;
	line-height: 46px;
}

/* 列表筛选 */
.tshop-pbsm-ssl10w .shop-filter {
	height: 26px;
	margin-bottom: 10px;
	overflow: hidden;
	border: 1px solid #e5e5e5;
}
.tshop-pbsm-ssl10w .shop-filter .mode, 
.tshop-pbsm-ssl10w .shop-filter .vip {
	float: left;
	margin: 4px 18px 0 20px;
}
.tshop-pbsm-ssl10w .shop-filter .vip input { 
	margin-right: .3em;
	vertical-align: middle;
}
.tshop-pbsm-ssl10w .shop-filter span {
	float: left;
}
.tshop-pbsm-ssl10w .shop-filter .mode a {
	float: left;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	text-indent: -99px;
	overflow: hidden;
}
.tshop-pbsm-ssl10w .grid .mode .mode-row { background-position: 0 -24px; }
.tshop-pbsm-ssl10w .row .mode .mode-row { background-position: -16px -24px; }
.tshop-pbsm-ssl10w .grid .mode .mode-grid { background-position: -48px -24px; }
.tshop-pbsm-ssl10w .row .mode .mode-grid { background-position: -32px -24px; }
.tshop-pbsm-ssl10w .shop-filter .taxis{
	float: left;
	margin-top: 4px;
}
.tshop-pbsm-ssl10w .shop-filter .taxis a {
	float: left;
	width: 40px;
	height: 16px;
	padding-left: 5px;
	border: solid 1px #ccc;
	border-bottom-width: 2px;
	line-height: 16px;
	margin-left: -1px;
	color: #333;
	background-color: #eee;
}
.tshop-pbsm-ssl10w .shop-filter .taxis a:hover {
	color: #000;
	text-decoration: none;
}
.tshop-pbsm-ssl10w .shop-filter .taxis .up, 
.tshop-pbsm-ssl10w .shop-filter .taxis .down {
	position: relative;
	z-index: 1;
	border-color: #308ED1;
}
.tshop-pbsm-ssl10w .shop-filter .taxis .icon {
	background-position: -64px -24px;
}
.tshop-pbsm-ssl10w .shop-filter .taxis .up .icon {
	background-position: -96px -24px;
}
.tshop-pbsm-ssl10w .shop-filter .taxis .down .icon {
	background-position: -112px -24px;
}
.tshop-pbsm-ssl10w .shop-filter .taxis .fav .icon {
	background-position: -80px -24px;
}
.tshop-pbsm-ssl10w .shop-filter .taxis .price {
	padding-top: 0;
}
/* --------------------------- End of 搜索列表 from shop-list.css ---------------------- */

/* --------------------------- 分页 from pagination.css --------------------------------- */
/* tshop-pbsm-ssl10w: 模块中心17号模块(shop.searchList) 搜索列表 */
/* tshop-pbsm-sfld10c: 模块中心62号模块（shop.fileListDefault） 文章列表默认 */

.tshop-pbsm-ssl10w .pagination,
.tshop-pbsm-sfld10c .pagination{
	float: right;
}
.tshop-pbsm-ssl10w .pagination a,
.tshop-pbsm-sfld10c .pagination a{
	float: left;
	height: 18px;
	margin-right: 5px;
	padding: 0 .5em;
	border: 1px solid #ccc;
	color: #03c;
	text-decoration: none;
	background-color: #fff;
}
.tshop-pbsm-ssl10w .pagination .break, 
.tshop-pbsm-sfld10c .pagination .break{
	float: left; margin-right: 5px; padding: 0 .5em;
}
.tshop-pbsm-ssl10w .pagination a:hover,
.tshop-pbsm-sfld10c .pagination a:hover{
	 color: #fff; background-color: #09f; 
}
.tshop-pbsm-ssl10w .pagination .disable, 
.tshop-pbsm-sfld10c .pagination .disable,
.tshop-pbsm-ssl10w .pagination .disable:hover,
.tshop-pbsm-sfld10c .pagination .disable:hover {
	color: #a7a0ab;
	background-color: #fff;
	cursor: no-drop;
}
.tshop-pbsm-ssl10w .pagination .page-cur, 
.tshop-pbsm-sfld10c .pagination .page-cur, 
.tshop-pbsm-ssl10w .pagination .page-cur:hover,
.tshop-pbsm-sfld10c .pagination .page-cur:hover{
	font-weight: 700;
	border-color: #fff;
	color: #f60;
	background-color: #fff;
	cursor: default;
}
.tshop-pbsm-ssl10w .pagination a, 
.tshop-pbsm-sfld10c .pagination a, 
.tshop-pbsm-ssl10w .page-info, .page-cur,
.tshop-pbsm-sfld10c .page-info, .page-cur{
	float: left;
	padding: 0 5px;
	height: 20px;
	margin: 0 3px 0 0;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 20px;
}
.tshop-pbsm-ssl10w .pagination form,
.tshop-pbsm-sfld10c .pagination form {
	float: left;
}
.tshop-pbsm-ssl10w .pagination input,
.tshop-pbsm-sfld10c .pagination input {
	width: 25px;
	margin: 0 0.5em;
	height: 16px;
	padding: 0 3px;
	border: 1px solid #A7A6AA;
	text-align: center;
}
.tshop-pbsm-ssl10w .pagination button,
.tshop-pbsm-sfld10c .pagination button {
	margin-left: 5px;
	padding: 0px 8px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	height:19px;
	vertical-align:top;
}
/* 分页迷你模式 */
/* 只有搜索列表才会有这种迷你模式 */
.tshop-pbsm-ssl10w .pagination-mini {
	margin-top: 3px;
	color: #a7a0ab;
}
.tshop-pbsm-ssl10w .pagination-mini .page-info {
	margin-right: .5em;
}
/* --------------------------- End of 分页 from pagination.css --------------------------- */

/* ----------------------------- 宝贝排行榜 from rank.css -------------------------- */
/* tshop-pbsm-stl10c: 模块中心31号模块 (shop.topList) 宝贝排行榜 */

.tshop-pbsm-stl10c .shop-rank .tab-nav{
	height:27px;
	_margin-bottom:-1px;
	position:relative;
	z-index:1;
}
.tshop-pbsm-stl10c .shop-rank .tab-nav li{
	float:left;
	height:26px;
	margin-left:5px;
	border:1px solid #b2d1ff;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	background-color:#f0f7ff;
}
.tshop-pbsm-stl10c .shop-rank .tab-nav span{
	display:block;
	line-height:28px;
	padding:0px 5px;
	cursor:pointer;
}
.tshop-pbsm-stl10c .shop-rank .tab-nav .selected{
	background-color:#FFFFFF;
	border-bottom:1px solid #FFF;
}
.tshop-pbsm-stl10c .shop-rank .tab-nav .selected span{
	color:#000;
}
.tshop-pbsm-stl10c .shop-rank .rank-panels{
	border-top:1px solid #b2d1ff;
	text-align:center;
}
.tshop-pbsm-stl10c .shop-rank .rank-panel ul{
	padding:4px 8px;
	margin-bottom:15px;
}
.tshop-pbsm-stl10c .shop-rank .rank-panel ul li{
	padding:9px 0px;
	border-bottom:dashed 1px #eee;
	height:42px;
	overflow:hidden;
}
.tshop-pbsm-stl10c .shop-rank .no-collect, 
.tshop-pbsm-stl10c .shop-rank .no-traded{
	padding:5px 15px;
	border:1px solid #ffd863;
	zoom:1;
	display:inline-block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-image: -moz-linear-gradient(top, #fef7ca, #fff3a9); /* FF3.6 */
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fef7ca),color-stop(1, #fff3a9)); /* Saf4+, Chrome */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fef7ca', EndColorStr='#fff3a9'); /* IE6+*/
}
.tshop-pbsm-stl10c .shop-rank .no-collect a,
.tshop-pbsm-stl10c .shop-rank .no-traded a{
	line-height:26px;
	text-decoration:none;
	color:#000000;
}
.tshop-pbsm-stl10c .shop-rank .no-collect a:hover, 
.tshop-pbsm-stl10c .shop-rank .no-traded a:hover{
	color:#ff7700;
}
.tshop-pbsm-stl10c .shop-rank .pic{
	float:left;
	margin-right:10px;
	border:1px solid #CCCCCC;
	height:40px;
	text-align:center;
	width:40px;
}
.tshop-pbsm-stl10c .shop-rank .pic a{
	display:table-cell;
	height:40px;
	width:40px;
	*display:block;
	*font-size:30px;
	*line-height:1;
	text-align:center;
	vertical-align:middle;
}
.tshop-pbsm-stl10c .shop-rank .pic img{
	vertical-align:middle;
}
.tshop-pbsm-stl10c .shop-rank .desc,
.tshop-pbsm-stl10c .shop-rank .price {
	float:left;
	width:120px;
	height:14px;
	line-height:1.2;
	text-align:left;
	overflow:hidden;
}
.tshop-pbsm-stl10c .shop-rank .price{
	font-size:13px;
	color:#FF5500;
}
.tshop-pbsm-stl10c .shop-rank .price i{
	background-position:-96px -40px;
}
.tshop-pbsm-stl10c .shop-rank .collecter,
.tshop-pbsm-stl10c .shop-rank .sale {
	float:left;
	width: 120px;
	overflow: hidden;
	line-height:1.4;
}
.tshop-pbsm-stl10c .shop-rank .collecter i,
.tshop-pbsm-stl10c .shop-rank .sale i{
	float:left;
	margin-right:3px;
}
.tshop-pbsm-stl10c .shop-rank .collecter i{
	background-position:-80px -56px;
}
.tshop-pbsm-stl10c .shop-rank .sale i{
	background-position:-96px -56px;
}

/* == 定制样式（不同场景下的CSS） ==*/

.col-sub .tshop-pbsm-stl10c .shop-rank .bd,
.col-extra .tshop-pbsm-stl10c .shop-rank .bd{
	padding: 3px 0px 15px;
}

/* == END OF 定制样式（不同场景下的CSS） ==*/

/* ----------------------------- End of 宝贝排行榜 from rank.css -------------------- */

/* -------------------------- 图片轮播 from slide.css -------------------------------- */
/* tshop-pbsm-spr10c: 模块中心35号模块（shop.picRound）图片轮播 */

.tshop-pbsm-spr10c .shop-slider .bd {
    padding:0;
}
.tshop-pbsm-spr10c .shop-slider .slider-promo {
    position: relative;
    z-index: 1;
	overflow: hidden;
	height:258px; /**default height*/ 
}
.tshop-pbsm-spr10c .shop-slider .lst-main {
    overflow: hidden;
    _width: 100%;    
}
.tshop-pbsm-spr10c .shop-slider .lst-main a {
    display: block;
    overflow: hidden;
}
.tshop-pbsm-spr10c .shop-slider .lst-trigger {
    position: absolute;
	z-index: 100;
    bottom: 9px;
    right: 4px;
    height: 19px;
    line-height: 17px;
    color: #fff;
}
.tshop-pbsm-spr10c .shop-slider .lst-trigger li {
    float: left;
    margin-right: 5px;
    width: 17px;
    font-weight: 700;
    height:auto;
    line-height:inherit; 
    border: 1px solid #fff;
    background-color: #999;
    text-align: center;
    cursor: pointer;
}
.tshop-pbsm-spr10c .shop-slider .lst-trigger .current {
    width: 22px;
    background-color: #000;
}
.tshop-pbsm-spr10c .shop-slider img {
    vertical-align: top;
}

/* -------------------------- End of 图片轮播 from slide.css ----------------------- */

/* -------------------------- 文章列表 from cms-list.css ------------------------------ */
/* tshop-pbsm-sfl10cm: 模块中心60号模块（shop.fileList） 文章列表 */
/* tshop-pbsm-sfld10c: 模块中心62号模块（shop.fileListDefault） 文章列表默认 */

.tshop-pbsm-sfl10cm .cvl-normal li, 
.tshop-pbsm-sfld10c .cvl-normal li, 
.tshop-pbsm-sfl10cm .cvl-line li h3,
.tshop-pbsm-sfld10c .cvl-line li h3 {
	background: url(http://img04.taobaocdn.com/tps/i4/T1U0xIXnXbXXXXXXXX-16-33.png) no-repeat;
}

.tshop-pbsm-sfl10cm .cmsview-list-line .bd, 
.tshop-pbsm-sfld10c .cmsview-list-line .bd { 
	padding-left: 0;  
	width: 188px; 
	overflow: hidden; 
}
.main-wrap .tshop-pbsm-sfl10cm .cmsview-list-line .bd, 
.main-wrap .tshop-pbsm-sfld10c .cmsview-list-line .bd { 
	width: auto; 
}

.tshop-pbsm-sfl10cm .cmsview-list-line .more,
.tshop-pbsm-sfld10c .cmsview-list-line .more{
	float:right;
}

.tshop-pbsm-sfl10cm .cmsview-list-line .date,
.tshop-pbsm-sfld10c .cmsview-list-line .date{
	float:right;
	color:#9C9C9C;
}
.tshop-pbsm-sfl10cm .cmsview-list-line p,
.tshop-pbsm-sfld10c .cmsview-list-line p{
	color:#9E9E9E;
}

/* Modules:= 文章列表 - 经典样式{{{ */
.tshop-pbsm-sfl10cm .cvl-normal li,
.tshop-pbsm-sfld10c .cvl-normal li{
	line-height: 30px;
	padding:0 8px;
	background-position:5px -15px;
	overflow:hidden;
}
.tshop-pbsm-sfl10cm .cvl-normal li .split,
.tshop-pbsm-sfld10c .cvl-normal li .split{
	background-color:#F5F5F5;
}

.tshop-pbsm-sfl10cm .cvl-normal li .title,
.tshop-pbsm-sfld10c .cvl-normal li .title{
	margin-left:10px;
}

.tshop-pbsm-sfl10cm .cvl-normal li em,
.tshop-pbsm-sfld10c .cvl-normal li em{
	color:#f60;
}

.tshop-pbsm-sfld10c .page-bottom{ /* filelistDefault 专有*/
	float:right;
}
/* }}} */

/* Modules:= 文章列表 - 图文样式{{{ */
.tshop-pbsm-sfl10cm .cvl-img li:after,
.tshop-pbsm-sfld10c .cvl-img li:after{
	display:block;
	clear:both;content:"";
	visibility:hidden;
	height:0;
}
.tshop-pbsm-sfl10cm .cvl-img li,
.tshop-pbsm-sfld10c .cvl-img li{
	padding: 0 8px;
	margin-bottom: 10px;
	zoom: 1;
}
.tshop-pbsm-sfl10cm .cvl-img li img,
.tshop-pbsm-sfld10c .cvl-img li img{
	float:left;
	width:90px;
	height:90px;
	margin-right:10px;
}
.tshop-pbsm-sfl10cm .cvl-img li h3 a,
.tshop-pbsm-sfld10c .cvl-img li h3 a{
	color:#000;
}

/* }}} */

/* Modules:= 文章列表 - 单行 {{ */
.tshop-pbsm-sfl10cm .cvl-line li,
.tshop-pbsm-sfld10c .cvl-line li{
	margin-bottom: 10px;
	padding: 0 8px;
}
.tshop-pbsm-sfl10cm .cvl-line li h3, 
.tshop-pbsm-sfld10c .cvl-line li h3 { 
	height: 30px; 
	line-height: 30px; 
	padding-left: 20px; 
	background-position: 5px -15px; 
	white-space: nowrap; 
}
.tshop-pbsm-sfl10cm .cvl-line li h3 a,
.tshop-pbsm-sfld10c .cvl-line li h3 a{
	color:#000;
	float:left;
}
/* -------------------------- End of 文章列表 from cms-list.css ------------------------------ */

/* -------------------------- 文章详情模块 from cms_detail.css ------------------------------ */
/* tshop-pbsm-sfd10c: 模块中心61号模块（shop.fileDetail）,用于文章详情模块 */

.tshop-pbsm-sfd10c .cms-detail .bd {
	overflow-x:hidden;
	padding:5px 0 0;
}

.tshop-pbsm-sfd10c .cms-detail h1{
	font-size: 20px;
	font-weight: 700;
	text-align: center;	
}
.tshop-pbsm-sfd10c .cms-detail .post_date {
	color:#808080;
	padding-bottom:10px;
	text-align:center;	
}
/* -------------------------- End of 文章详情模块 from cms_detail.css ------------------------------ */
